<% if current_user %>
  <h1>Listing users</h1>

  <br />

  <%= link_to 'New User', new_user_path %>
<% else %>
  <div class="text-center">
    <h1>Krucho z kasą?</h1>
    <h1>Zacznij planować!</h1>
    <%= link_to "Zaloguj się korzystając z Twittera", "/auth/twitter", class: "btn btn-info btn-large" %>
  </div>
<% end %>