<%= render partial: 'layouts/create_javascript' %>

<%- model_class = Income -%>
<div class="page-header">
  <h1>Nowy przypływ</h1>
</div>

<%= render :partial => 'form' %>

<script type="text/javascript">
   $(document).ready(function(){
      initialize("#income_latitude", "#income_longitude");
      $("#income_latitude").val(marker.position.hb);
      $("#income_longitude").val(marker.position.ib);
   })
</script>