/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

.hello {
	margin-right: 15px;
}

#new_expense label,
#new_income label {
	font-size: 20px;
}

#expense_amount,
#income_amount {
	margin-bottom: 30px;
}

#map_canvas {
	width: 400px;
	height: 400px;
	position: relative;
	background-color: rgb(229, 227, 223);
	overflow: hidden; -webkit-transform: translateZ(0);
	margin-bottom: 30px;
}

.expenses_table tbody td, .red {
	color: red !important;
}

.incomes_table tbody td, .green {
	color: green !important;	
}

.grey {
	color: #BBB;
}